<!DOCTYPE html>
<html>
<head>
  <title>Crop Price Predictor</title>


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800&display=swap" rel="stylesheet"> 


  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Compiled and minified JavaScript -->
    <style>
        *{
            font-family: 'Montserrat', sans-serif;
        }
        div.main {
            padding: 5px 50px 75px 50px;
        }

        span,img {
            vertical-align: middle;
         }

        .brand-logo > span,.brand-logo > img {
            vertical-align: middle;
        }

        .heading{
            padding : 20px;
        }


        .navbar-container{
            height : 100px;
            display : flex;
            justify-content: flex-end;
            padding-right : 40px;
        }
        .navbar-container > a{
            margin-left : 50px;
            font-size : 20px;
            color : black;
            line-height: 100px;
        }
        .navbar-container > a:hover{
            color : rgb(0, 132, 255);
        }

        h5{
            font-size : 40px;
            text-align : center;
            margin : 30px;
            font-weight : 600;
        }

        .row{
            padding : 20px 40px;
        }

        .image{
            width : 100%;
            max-height : 300px;
        }

        .card:hover{
            box-shadow : 0 0 15px 10px rgb(211, 211, 211);
        }


    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
</head>
<body class="main">
  <div>

    <div class = "navbar-container">
        <a href = "http://localhost:5000/">Home</a>
        <a href = "http://localhost:5000/about">About</a>
        <a href = "http://localhost:5000/topgainerslosers">Top Gainers/ Losers</a>
        <a href = "http://localhost:5000/allcomodities">All Comodities</a>
    </div>

  <h5 >Explore by commodity</h5>
  <div class="comodity-container row">
    <div class="col s3">
      <a href="http://localhost:5000/commodity/paddy" style="color: #000000">
      <div class="card grey lighten-4">
          <img class = "image" src = "../static/images/paddy.jpg">
        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/rice-bowl.png">
        </div>
        <div class="col s9">
          <span class="card-title">Paddy</span>
        </div>
        </div>
      </div>
    </a>
    </div>
     <div class="col s3">
      <a href="http://localhost:5000/commodity/wheat" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/wheat.jpg">
        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/wheat.png">
        </div>
        <div class="col s9">
          <span class="card-title">Wheat</span>
        </div>
        </div>
      </div>
    </a>
    </div> <div class="col s3">
      <a href="http://localhost:5000/commodity/barley" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/barley.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/barley.png">
        </div>
        <div class="col s9">
          <span class="card-title">Barley</span>
        </div>
        </div>
      </div>
    </a>
    </div> <div class="col s3">
      <a href="http://localhost:5000/commodity/soyabean" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/soyabean.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/soy.png">
        </div>
        <div class="col s9">
          <span class="card-title">Soya Bean</span>
        </div>
        </div>
      </div>
    </a>
    </div>
  </div>
    <div class="row">
    <div class="col s3">
      <a href="http://localhost:5000/commodity/cotton" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/paddy.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/cotton.png">
        </div>
        <div class="col s9">
          <span class="card-title">Cotton</span>
        </div>
        </div>
      </div>
    </a>
    </div>
     <div class="col s3">
      <a href="http://localhost:5000/commodity/copra" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/coconut.jpeg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/coconut.png">
        </div>
        <div class="col s9">
          <span class="card-title">Coconut</span>
        </div>
        </div>
      </div>
    </a>
    </div> <div class="col s3">
      <a href="http://localhost:5000/commodity/groundnut" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/groundnut.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/peanuts.png">
        </div>
        <div class="col s9">
          <span class="card-title">Ground Nut Seeds</span>
        </div>
        </div>
      </div>
    </a>
    </div> <div class="col s3">
      <a href="http://localhost:5000/commodity/rape" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/mustard.jpeg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://image.flaticon.com/icons/svg/188/188317.svg">
        </div>
        <div class="col s9">
          <span class="card-title">Mustard Seed</span>
        </div>
        </div>
      </div>
    </a>
    </div>
  </div>
    <div class="row">
    <div class="col s3">
      <a href="http://localhost:5000/commodity/sesamum" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/sesamum.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/sesame.png">
        </div>
        <div class="col s9">
          <span class="card-title">Gingelly Seed(Sesamum)</span>
        </div>
        </div>
      </div>
    </a>
    </div>
     <div class="col s3">
      <a href="http://localhost:5000/commodity/gram" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/gram.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
        </div>
        <div class="col s9">
          <span class="card-title">Gram</span>
        </div>
        </div>
      </div>
    </a>
    </div> <div class="col s3">
      <a href="http://localhost:5000/commodity/sugarcane" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/sugarcane.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/bamboo.png">
        </div>
        <div class="col s9">
          <span class="card-title">Sugarcane</span>
        </div>
        </div>
      </div>
    </a>
    </div> <div class="col s3">
      <a href="http://localhost:5000/commodity/arhar" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/arhar.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
        </div>
        <div class="col s9">
          <span class="card-title">Arhar</span>
        </div>
        </div>
      </div>
    </a>
    </div>
  </div>
    <div class="row">
    <div class="col s3">
      <a href="http://localhost:5000/commodity/ragi" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/ragi.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/office/48/000000/wheat.png">
        </div>
        <div class="col s9">
          <span class="card-title">Ragi</span>
        </div>
        </div>
      </div>
    </a>
    </div>
     <div class="col s3">
      <a href="http://localhost:5000/commodity/maize" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/maize.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/corn.png">
        </div>
        <div class="col s9">
          <span class="card-title">Maize</span>
        </div>
        </div>
      </div>
    </a>
    </div> <div class="col s3">
      <a href="http://localhost:5000/commodity/moong" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/paddy.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
        </div>
        <div class="col s9">
          <span class="card-title">Moong</span>
        </div>
        </div>
      </div>
    </a>
    </div> <div class="col s3">
      <a href="http://localhost:5000/commodity/masoor" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/masoor.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
        </div>
        <div class="col s9">
          <span class="card-title">Masoor</span>
        </div>
        </div>
      </div>
    </a>
    </div>
  </div>
    <div class="row">
    <div class="col s3">
      <a href="http://localhost:5000/commodity/urad" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/urad.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
        </div>
        <div class="col s9">
          <span class="card-title">Urad</span>
        </div>
        </div>
      </div>
    </a>
    </div>
     <div class="col s3">
      <a href="http://localhost:5000/commodity/jute" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/jute.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/potato.png">
        </div>
        <div class="col s9">
          <span class="card-title">Raw Jute</span>
        </div>
        </div>
      </div>
    </a>
    </div> <div class="col s3">
      <a href="http://localhost:5000/commodity/niger" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/niger.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png">
        </div>
        <div class="col s9">
          <span class="card-title">Niger Seed</span>
        </div>
        </div>
      </div>
    </a>
    </div> 
    <div class="col s3">
        <a href="http://localhost:5000/commodity/sunflower" style="color: #000000">
        <div class="card grey lighten-4">
          <img class = "image" src = "../static/images/sunflower.jpg">
  
          <div class="card-content row valign-wrapper">
            <div class="col s3">
            <img src="https://img.icons8.com/color/48/000000/potato.png">
          </div>
          <div class="col s9">
            <span class="card-title">Sunflower</span>
          </div>
          </div>
        </div>
      </a>
      </div>
  </div>
    <div class="row">
   
     <div class="col s3">
      <a href="http://localhost:5000/commodity/jowar" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/jowar.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/potato.png">
        </div>
        <div class="col s9">
          <span class="card-title">Jowar</span>
        </div>
        </div>
      </div>
    </a>
    </div> <div class="col s3">
      <a href="http://localhost:5000/commodity/bajra" style="color: #000000">
      <div class="card grey lighten-4">
        <img class = "image" src = "../static/images/bajra.jpg">

        <div class="card-content row valign-wrapper">
          <div class="col s3">
          <img src="https://img.icons8.com/color/48/000000/potato.png">
        </div>
        <div class="col s9">
          <span class="card-title">Bajra</span>
        </div>
        </div>
      </div>
    </a>
    </div>
  </div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('.slider').slider({full_width :true});
  });
</script>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>
